.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

@font-face {
    font-family: "Beyond The Mountains";
    src: url(http://dl.dafont.com/dl/?f=beyond_the_mountains/beyond_the_mountains.otf);
}

.headerBG {
    background: url(https://s27.postimg.org/xp0hd3okz/Couple_background.jpg) no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logoPrincipal .navbar-brand {
    height: 80px;
}

.propuestaValor{
    margin-top: 40vh;
    margin-bottom: 400px;
}

.pb{
    color: white;
    font-family: 'Roboto';
    font-size: 45px;
}

.lineaTexto {
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 35px;
}

.btn-round-lg{
    border-radius: 22.5px;
    background: transparent;
    border: solid 1px white;
}
.btn-round{
    border-radius: 17px;
}

.btn-demo {
    width: 280px;
    margin-top: 20px;
    font-family: 'Roboto';
}

.btn-demo:hover {
    background-color: rgb(0,161,191);
    border: none;
}

.btn-download {
    width: 280px;
    margin-left: 80px;
    margin-top: 20px;
    font-family: 'Roboto';
    background-color: rgb(0,161,191);
    color: white;
}

.btn-download:hover {
    background-color: transparent;
    color: white;
    border: solid 1px white;
}

.segundaSeccion{
    background: rgba(188,152,222,1);
    background: -moz-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(188,152,222,1)), color-stop(100%, rgba(124,181,208,1)));
    background: -webkit-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: -o-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc98de', endColorstr='#7cb5d0', GradientType=1 );
    width: 100%;
    height: 35vh;
}

.segundaSeccion .titulo {
    color: white;
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    padding-top: 40px;
    font-size: 40px;
}

.segundaSeccion .subtitulo {
    color: white;
    font-family: "Raleway";
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    line-height: 40px;
}

.customFont {
    font-family: "Beyond The Mountains";
}

.tercerSeccion {
    background: url(https://s27.postimg.org/kelcxdko3/Couple.jpg) no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
}

.tercerSeccion .titulo {
    color: white;
    padding-top: 40px;
    font-family: 'Raleway';
    font-size: 45px;
    letter-spacing: 5px;
}

.tercerSeccion .pasos {
    color: rgb(0,161,191);
}

.tercerSeccion h3 {
    color: white;
    font-family: Roboto;
}

div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
    color: white;
    text-decoration: underline;
}

.cuartaSeccion {
    background: white;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
}

.cuartaSeccion .titulo {
    color: gray;
    padding-top: 40px;
    font-family: 'Raleway';
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 60px;
}

.cuartaSeccion h3,h4 {
    font-family: Roboto;
    color: darkgray;
}

.separacion {
    height: 60px!important;
}

.centrado {
    text-align: center;
}

.quintaseccion{
    background: rgba(188,152,222,1);
    background: -moz-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(188,152,222,1)), color-stop(100%, rgba(124,181,208,1)));
    background: -webkit-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: -o-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    background: linear-gradient(45deg, rgba(188,152,222,1) 0%, rgba(124,181,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc98de', endColorstr='#7cb5d0', GradientType=1 );
    width: 100%;
    height: 70vh;
    position: relative;
}

.quintaseccion .titulo {
    color: white;
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    padding-top: 40px;
    font-size: 45px;
}

.btn-pregunta {
    color: white;
    width: 50%;
    margin-top: 80px;
    font-family: 'Roboto';
    background-color: rgba(245, 245, 245, 0.42);
    border: none;
    font-size: 22px;
}

.btn-option {
    width: 280px;
    margin-top: 30px;
    font-family: 'Roboto';
}

.btn-option:hover {
    background-color: rgb(0,161,191);
    border: none;
}

.btn-download-demo {
    width: 280px;
    margin-top: 80px;
    font-family: 'Roboto';
    background-color: rgb(0,161,191);
    color: white;
}

footer {
    background: #424141;
    width: 100%;
    height: 45vh;
    position: absolute;
    text-align: center;
}

footer p {
    color: white;
    font-family: 'Raleway';
    margin-top: 5px;
}

footer a {
    color: white;
    margin: 25px;
    text-decoration: none;
    font-family: 'Raleway';
}

footer a:hover {
    color: rgb(0,161,191);
    text-decoration: none;
}

.logoFooter {
    margin-top: 20px;
}


/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    /* background-color: #ffffff; */
    padding: 0 !important;
    /* border-radius: 4px; */
    -moz-border-radius: 4px;
    /* border: 1px solid #ddd; */
    margin-top: 20px;
    margin-left: 50px;
    /* opacity: 0.97; */
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 30px!important;
    text-align: left;
    font-weight: bold;
    font-family: Raleway;
}
div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    /*color: #5A55A3;*/
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    /*background-color: #5A55A3;
    background-image: #5A55A3;*/
    color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    /*border-left: 10px solid #5A55A3;*/
}

div.bhoechie-tab-content{
   /* background-color: #ffffff;*/
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
}

.a.list-group-item:focus, a.list-group-item:hover {
    background-color: transparent;
}

.a.list-group-item:focus, h4.list-group-item:hover {
    color: white;
}