<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script type="text/javascript">var _kmq = _kmq || [];
        var _kmk = _kmk || '5611d4ffcce70e9914da42dbcc8731733bf63cc5';
        function _kms(u){
            setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                    s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
            }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/core.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>

    <link rel="stylesheet" href="stylesheets/flexslider.css" type="text/css">
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="headerBG">
      <div class="logoPrincipal">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-5">

                  </div>
                  <div class="col-xs-12 col-md-12">
                      <img class="logoP" src="https://s29.postimg.org/72hl4uwon/logo.png" alt="Weaver">
                  </div>
              </div>
          </div>
      </div>
      <div class="propuestaValor">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-xs-12">
                      <h1 class="pb">Crea relaciones significativas</h1>
                      <h4 class="lineaTexto">Weaver te presenta nuevas personas al contestar <br> preguntas y quizzes de forma anónima.</h4>
                      <div class="row">
                          <div class="col-md-12 col-xs-12">
                              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo btn-responsivo" data-target="#demo">DEMO</button>
                              <!--<button type="button" class="btn btn-default btn-round-lg btn-lg btn-download" style="margin-top: 20px;" data-toggle="modal" data-target="#modalInicio">COMENZAR A CONECTAR</button>-->
                              <button type="button" class="btn btn-default btn-round-lg btn-lg btn-download btn-login btn-responsivo" style="margin-top: 20px;">COMENZAR A CONECTAR</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!--div class="modal fade" id="modalInicio" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="border: 2px solid black; border-radius: 15px;width: 25px;height: 25px;">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h3 style="text-align: center; font-family: 'Raleway'; color: gray; margin-bottom: 30px;">Crea una cuenta y empieza a conectar.</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                                <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                            <!--/div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="mail" placeholder="Mail">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
                            </div>
                            <button type="submit" class="btn btnModal btn-login">Comenzar</button>
                        </form>
                    </div>
                </div>
            </div>
          </div-->

      </div>
      <div class="container">
          <!--button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo">DEMO</button-->
          <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
      </div>
  </div>
  <div class="segundaSeccion">
    <h1 class="titulo">¿ Qué es <span class="customFont">weaver</span> ?</h1>
      <h4 class="subtitulo">Una plataforma que te permite conocer nuevas personas a través de preguntas anónimas. Te ayuda a crear conexiones más sinceras antes de ver su perfil.</h4>
  </div>

  <script type="text/javascript">
    jQuery(window).load(function() {
        jQuery('#features-slider.tab-slider-container .flexslider').flexslider({
            animation: "slide",
            slideshowSpeed: 15000,
            animationSpeed: 1500,
            namespace: "flex-",
            controlNav: true,
            directionNav: false,
            smoothHeight: false,
            animationLoop: true,
            slideshow: true,
            easing: "swing",
            sync: "#features-iphone-slider.flex-slider-container .flexslider",
            manualControls: "#features-slider .tab-list li a",
            controlsContainer: "#features-slider .tab-list"
        })
    });

  jQuery(document).ready(function($) {
    jQuery('#features-iphone-slider.flex-slider-container .flexslider').flexslider({
        animation: "slide",
        slideshowSpeed: 15000,
        animationSpeed: 1500,
        namespace: "flex-",
        pauseOnAction: false,
        pauseOnHover: false,
        controlNav: false,
        directionNav: false,
        direction: "horizontal",
        prevText: "<span class=\"icon-angle-left\"></span>",
        nextText: "<span class=\"icon-angle-right\"></span>",
        smoothHeight: false,
        animationLoop: true,
        slideshow: true,
        easing: "swing",
        controlsContainer: "#features-iphone-slider.flex-slider-container"
    })
  });
</script>

  <div class="tercerSeccion" style="background: none; background-color:#F4F4F4; height: 100vh;">
    <div class="container">
      
    <div class="text-content">
      <div class="col-md-8 col-sm-6 col-xs-12">        
        <h1 style="margin: 0 30px 60px 30px;">¿Cómo funciona?</h1>
        <div id="features-slider" class="tab-slider-container">

            <ul class="tab-list">
              <li>                
                <a href="#0">                  
                  <img src="img/slider/1.png" alt="Crea">
                  <span class="tab-title">Crea</span>                  
                </a>
              </li>              
              <li>
                <a href="#1">
                  <img src="img/slider/2.png" alt="Crea">
                  <span class="tab-title">Arroja</span>
                </a>
              </li>              
              <li>
                <a href="#2">
                  <img src="img/slider/3.png" alt="Crea">
                  <span class="tab-title">Teje</span>
                </a>
              </li>              
              <li>
                <a href="#3">
                  <img src="img/slider/4.png" alt="Crea">
                  <span class="tab-title">Chat</span>
                </a>
              </li>              
              <li>
                <a href="#4">
                  <img src="img/slider/5.png" alt="Crea">
                  <span class="tab-title">Conecta</span>
                </a>
              </li>              
            </ul>

            <div class="flexslider">
              <ul class="slides">
                <li>
                  <div class="sixcol">
                    <div class="big">
                      Crea tu perfil al ir contestando diferentes preguntas y quizzes.
                    </div>
                  </div>
                  <br>
                  <div class="sixcol last">
                    Las preguntas aparecerán día con día. Entre más contestes, más completo estará tu perfil.
                    <br>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                </li>
                <li>
                  <div class="sixcol">
                    <div class="big">
                      Pregunta aquello que te gustaría saber sobre esa persona especial.
                    </div>
                  </div>
                  <br>
                  <div class="sixcol last">
                    Seleccionamos a 3 weavers diferentes para que la contesten.
                    <br>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                </li>
                <li>
                  <div class="sixcol">
                    <div class="big">
                      Elige las respuestas que más te gusten y comienza a tejer hilos que te acerquen a esa persona especial.
                    </div>
                  </div>
                  <br>
                  <div class="sixcol last">
                    Conózcanse de una forma más profunda y honesta.
                    <br>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                </li>
                <li>
                  <div class="sixcol">
                    <div class="big">
                      Cuando hayas elegido a esa persona especial podrán hablar directamente.
                    </div>
                  </div>
                  <br>
                  <div class="sixcol last">
                    Al fin podrás ver  con quién has estado compartiendo todo este tiempo.
                    <br>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                </li>
                <li>
                  <div class="sixcol">
                    <div class="big">
                      Disfruta de una promoción pensada exclusivamente para ustedes dos.
                    </div>
                  </div>
                  <br>
                  <div class="sixcol last">
                    Los invitamos a que se conozcan en un lugar donde sabemos que lo disfrutarán.</h3>
                    <br>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                </li>
              </ul>                        
            </div>
        </div>                  
      </div>
      
      <div class="col-md-4 col-sm-6 hidden-xs">
        <div class="iphone-slider-container">
          <img src="img/iphone.png" alt="" class="iphone">
          <div id="features-iphone-slider" class="flex-slider-container">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="img/slider/Landing_screens-01.jpg" />
                </li>
                <li>
                  <img src="img/slider/Landing_screens-02.jpg" />
                </li>
                <li>
                  <img src="img/slider/Landing_screens-03.jpg" />
                </li>
                <li>
                  <img src="img/slider/Landing_screens-04.jpg" />
                </li>
                <li>
                  <img src="img/slider/Landing_screens-05.jpg" />
                </li>
              </ul>          
            </div>            
          </div>
        </div>
      </div>          
    
    </div>

      <div class="clearfix"></div>
    </div>
  </div>

    <!--div class="tercerSeccion">
        <div class="container">
            <h1 class="titulo">¿Cómo funciona?</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                            <div class="list-group">
                                <a href="#" class="list-group-item active text-center">
                                    <h3 class="pasos">1. CREA</h3>
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h3 class="pasos">2. ARROJA</h3>
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h3 class="pasos">3. TEJE</h3>
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h3 class="pasos">4. CHAT</h3>
                                </a>
                                <a href="#" class="list-group-item text-center">
                                    <h3 class="pasos">5. CONECTA</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                            <!-- flight section -->
                            <!--div class="bhoechie-tab-content active">
                                <center style="border-right: 22px solid #215C92">
                                    <h3 style="margin-top: 0;">Crea tu perfil al ir contestando
                                        diferentes preguntas y quizzes.
                                        <br><br>
                                        Las preguntas aparecerán día con día. Entre más contestes, más completo estará tu perfil.
                                    </h3>
                                </center>
                            </div>
                            <!-- train section -->
                            <!--div class="bhoechie-tab-content">
                                <center style="margin-top: 120px;border-right: 22px solid #3B669D">
                                    <h3 style="margin-top: 0;">
                                        Pregunta aquello que te gustaría saber sobre esa persona especial.
                                        <br><br>
                                        Seleccionamos a 3 weavers diferentes para que la contesten.
                                    </h3>
                                </center>
                            </div>

                            <!-- hotel search -->
                            <!--div class="bhoechie-tab-content">
                                <center style="margin-top: 240px;border-right: 22px solid #5670A9">
                                    <h3 style="margin-top: 0;">
                                        Elige las respuestas que más te gusten y comienza a tejer hilos que te acerquen a esa persona especial.
                                        <br><br>
                                        Conózcanse de una forma más
                                        profunda y honesta.</h3>
                                </center>
                            </div>
                            <div class="bhoechie-tab-content">
                                <center style="margin-top: 330px;border-right: 22px solid #8680BC">
                                    <h3 style="margin-top: 0;">
                                        Cuando hayas elegido a esa persona especial podrán hablar directamente.
                                        <br><br>
                                        Al fin podrás ver  con quién has estado compartiendo todo este tiempo.</h3>
                                </center>
                            </div>
                            <div class="bhoechie-tab-content">
                                <center style="margin-top: 440px;border-right: 22px solid #BB98D8">
                                    <h3 style="margin-top: 0;">Disfruta de una promoción pensada
                                        exclusivamente para ustedes dos.
                                        <br><br>
                                        Los invitamos a que se conozcan en un lugar donde sabemos que lo disfrutarán.</h3>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div-->

  <div class="cuartaSeccion">
    <div class="container">
        <h1 class="titulo">¿Por qué <span class="customFont">weaver</span> ?</h1>
    </div>
    <div class="container centrado">
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 40px">
                <img src="https://s28.postimg.org/ocpy48h1p/icono1.png" alt="">
                <h3>Preguntas interesantes</h3>
                <h4 style="color: black" class="separacion">No gastes tiempo llenando interminables perfiles que en realidad no pueden expresar quien realmente eres.</h4>
                <h4 class="separacion">Nuestras preguntas y quizzes descubren lo mejor de ti, nos ayudan a saber lo que estás buscando.</h4>
            </div>
            <div class="col-md-4" style="margin-bottom: 40px">
                <img src="https://s27.postimg.org/pavf84qgz/icono2.png" alt="">
                <h3>Como una cita a ciegas</h3>
                <h4 style="color: black" class="separacion">Solo sé tú mismo, conecta de una manera auténtica y natural.</h4>
                <h4 class="separacion">Vive una verdadera experiencia de cita a ciegas. Comparte y ve más allá con alguien sin ningún prejuicio.</h4>
            </div>
            <div class="col-md-4" style="margin-bottom: 40px">
                <img src="https://s23.postimg.org/xd1950biz/icono3.png" alt="">
                <h3>No más swiping</h3>
                <h4 style="color: black" class="separacion">Deja de coleccionar “matches” y enfócate en personas que realmente les importa.</h4>
                <h4 class="separacion">Lo mejor de cada persona está en su interior, toma el tiempo de descubrirlo.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="https://s30.postimg.org/777aho69d/icono4.png" alt="">
                <h3>Cerca de ti</h3>
                <h4 style="color: black" class="separacion">Conoce gente a tu alrededor, esta vez sin ningún filtro.</h4>
                <h4 class="separacion">Nunca sabrás lo que encontrarás. Un excelente amigo o algo más. Te sorprenderás.</h4>
            </div>
            <div class="col-md-4">
                <img src="https://s29.postimg.org/cacx7o0qv/icono5.png" alt="">
                <h3>Llévalo al mundo real</h3>
                <h4 style="color: black" class="separacion">Disfruta de ofertas especiales en lugares cerca de ustedes para una primer cita.</h4>
                <h4 class="separacion">Es nuestra manera de celebrar que se conocieron.</h4>
            </div>
            <div class="col-md-4">
                <img src="https://s24.postimg.org/t71px265h/icono6.png" alt="">
                <h3>Evita atención innecesaria</h3>
                <h4 style="color: black" class="separacion">La interacción de Weaver evitará que conozcas gente que no busca una relación más honesta.</h4>
                <h4 class="separacion">Recuerda que lo bueno, toma tiempo.</h4>
            </div>
        </div>
    </div>
  </div>
  <div class="quintaseccion" ng-app="demoQuiz" id="demo">
      <h1 class="titulo">Demo</h1>
      <div class="container-fluid centrado">
          <div class="row">
              <!--form action="">
                  <label class=" btn-round-lg btn-lg btn-pregunta" for="">¿Qué tomarías en una mañana lluviosa?</label>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-2">

                          </div>
                          <div class="col-md-4">
                              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-option">Café</button>
                          </div>
                          <div class="col-md-4">
                              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-option">Té</button>
                          </div>
                          <div class="col-md-2">

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-2">

                          </div>
                          <div class="col-md-4">
                              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-option">Chocolate caliente</button>
                          </div>
                          <div class="col-md-4">
                              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-option">Vodka</button>
                          </div>
                          <div class="col-md-2">

                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <button type="button" class="btn btn-default btn-round-lg btn-lg btn-download-demo">COMENZAR A CONECTAR</button>
                  </div>
              </form -->
              <!-- INICIO DEL QUIZ -->
              <div ng-controller="controladorPadre" class="container">
                  <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActivo || list.quizMetrics.resultadosActivos" style="text-align:center">
                      <button class="btn btn-default btn-round-lg btn-lg btn-download" ng-click="list.activarQuiz()"><strong>Empezar Quiz</strong></button>
                  </div>
                  <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActivo">
                      <div class="row row-centered">
                          <div class="col-md-4 col-centered">
                              <div class="btn-toolbar">
                                  <button ng-repeat="pregunta in quiz.dataService.preguntasQuiz" ng-class="{'circulo-respondido':pregunta.selected !== null, 'circulo':pregunta.selected === null}" ng-click="quiz.ponerPreguntaActiva($index)">
                                      <!--span ng-class="{'circulo': pregunta.selected !== null, 'glyphicon-question-sign': pregunta.selected === null}"></span-->
                                  </button>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="alert alert-danger" ng-show="quiz.error">
                              ¡Ups! Parece que no haz respondido todas las preguntas.
                              <button class="close" ng-click="quiz.error = false">&times</button>
                          </div>
                          <div ng-hide="quiz.finalizar">
                              <div class="row">
                                  <div class="col-xs-12">
                                      <!-- PREGUNTA --><h4 class="btn-round-lg btn-lg btn-pregunta">{{quiz.preguntaActiva+1 + ". " + quiz.dataService.preguntasQuiz[quiz.preguntaActiva].text}}</h4>
                                      <div class="row" ng-if="quiz.dataService.preguntasQuiz[quiz.preguntaActiva].type === 'text'">
                                          <div class="col-sm-3 col-sm-offset-2" ng-repeat="respuesta in quiz.dataService.preguntasQuiz[quiz.preguntaActiva].posibilidades">
                                              <!-- RESPUESTA --><h4 class="respuesta btn btn-primary btn-round-lg btn-lg btn-option" ng-class="{'bg-info': $index === quiz.dataService.preguntasQuiz[quiz.preguntaActiva].selected}" ng-click="quiz.respuestaSeleccionada($index); quiz.preguntaRespondida()">
                                                  {{respuesta.respuesta}}
                                              </h4>
                                          </div>
                                      </div>
                                      <div class="row" ng-if="quiz.dataService.preguntasQuiz[quiz.preguntaActiva].type === 'image'" style="margin-top: 60px">
                                          <div class="col-xs-3" ng-repeat="respuesta in quiz.dataService.preguntasQuiz[quiz.preguntaActiva].posibilidades">
                                              <div class="respuestaConImagen" ng-class="{'imagen-seleccionada': $index === quiz.dataService.preguntasQuiz[quiz.preguntaActiva].selected}" ng-click="quiz.respuestaSeleccionada($index); quiz.preguntaRespondida()">
                                                  <img ng-src="{{respuesta.respuesta}}">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="well well-sm" ng-show="quiz.finalizar" style="background: transparent!important; border: none">
                              <div class="row">
                                  <div class="col-xs-12">
                                      <h3 style="text-align: center">¿Estás seguro de querer enviar tus respuestas?</h3>
                                      <button class="botonesSiNo btn btn-primary btn-round-lg btn-lg btn-option" ng-click="quiz.finalizarRespuestas();">Si</button>
                                      <button class="botonesSiNo dange btn btn-primary btn-round-lg btn-lg btn-option" ng-click="quiz.finalizar = false">No</button>
                                  </div>
                              </div>
                          </div>

                      </div> <!-- Row de preguntas-->
                  </div> <!-- Quiz controller -->
                  <div ng-controller="resultadosCtrl as resultados" ng-show="resultados.quizMetrics.resultadosActivos">
                      <div class="container">
                          <div class="row">
                              <div class="col-xs-3" style="float: none; margin: 0 auto;">
                                  <p class="mensaje">{{texto}}</p>
                              </div>
                              <div class="col-xs-6" style="float: none; margin: 0 auto;">
                                  <p class="mensajeDos"><strong>Estás muy cerca de encontrar a la indicada.</strong></p>
                              </div>
                          </div>
                          <!--<button type="button" class="btn btn-default btn-round-lg btn-lg btn-download" style="margin-top: 200px;" data-toggle="modal" data-target="#modalInicio">COMENZAR A CONECTAR</button>-->
                          <button type="button" class="btn btn-default btn-round-lg btn-lg btn-download btn-login" style="margin-top: 200px;" data-toggle="modal" data-target="#modalInicio">COMENZAR A CONECTAR</button>
                          <!--div class="row">
                              <button class="btn btn-primary btn.lg" ng-click="resultados.reset()">Regresar</button>
                          </div-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer>
      <img class="logoFooter" src="https://s28.postimg.org/ealgi15nh/logo_White.png" alt="">
      <p>Próximamente disponible en:</p>
      <img src="https://s30.postimg.org/xnc7jqx75/app_Store_Logo.png" alt="">
      <img src="https://s28.postimg.org/4g8ddzll9/Google_Play_Logo.png" alt="">
      <div class="container" style="margin-top: 30px">
          <a href="">BLOG</a>
          <a href="">PRIVACY</a>
          <a href="">TERMS</a>
          <a href="">SAFETY</a>
          <a href="">CONTACT US</a>
      </div>
  </footer>

  <script>
      $(document).ready(function() {
          $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
              e.preventDefault();
              $(this).siblings('a.active').removeClass("active");
              $(this).addClass("active");
              var index = $(this).index();
              $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
              $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
          });
      });
  </script>

  <script>
      $(document).ready(function() {

          var port = ''
          if (location.port.length === 4)
              port = ':'+location.port


          var lock = new Auth0Lock('4ceBlUH076OKGR4mANDbqyHKDAQOwdIu', 'rodrigoibarra.auth0.com', {
              auth: {
                  redirectUrl: location.protocol+'//'+location.hostname+port+'/callback',
                  responseType: 'code',
                  params: {
                      scope: 'openid email'
                  }
              },
              theme: {
                  logo: 'https://s29.postimg.org/72hl4uwon/logo.png',
                  primaryColor: 'rgb(0,161,191)'
              },
              language: 'es',
              languageDictionary: {
                  emailInputPlaceholder: "ejemplo@tuemail.com",
                  emailPasswordPlaceholder: "tu contraseña",
                  title: ""
              }
          })

          $('.btn-login').click(function(e) {
              e.preventDefault()
              lock.show()
          })

      })
  </script>
  
</body>
</html>
