<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <img src="https://drive.google.com/open?id=0B4rfVeY8GWjkTmt3U25NbW9ITjg" alt="">


</body>
</html>
