<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="headerBG">
      <div class="logoPrincipal">
          <nav class="navbar navbar-static-top">
              <div class="container">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="http://disputebills.com"><img style="margin-left: -50px;" src="https://s29.postimg.org/72hl4uwon/logo.png" alt="Weaver">
                      </a>
                  </div>
              </div>
          </nav>
      </div>
      <div class="propuestaValor">
          <div class="container">
              <h1 class="pb">Crea relaciones significativas</h1>
              <h4 class="lineaTexto">Weaver te presenta nuevas personas al contestar <br> preguntas y quizzes de forma anónima.</h4>
              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo">DEMO</button>
              <button type="button" class="btn btn-default btn-round-lg btn-lg btn-download">COMENZAR A CONECTAR</button>
          </div>
      </div>
      <div class="container">
          <!--button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo">DEMO</button-->
          <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
      </div>
  </div>
  <div class="segundaSeccion">
    <h1 class="titulo">¿ Qué es <span class="customFont">Weaver</span> ?</h1>
      <h4 class="subtitulo">Weaver es una plataforma que te permite conocer nuevas personas a través de preguntas anónimas. Te ayuda crear
          conexiones más sinceras antes de ver su perfil.</h4>
  </div>
  <div class="tercerSección">

  </div>


</body>
</html>
