<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <img class="img-responsive" src="https://s23.postimg.org/87ms0qb7v/Weaver_landing_01_1.jpg" alt="">


</body>
</html>
