<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="headerBG">
      <div class="logoPrincipal">
          <nav class="navbar navbar-static-top">
              <div class="container">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="http://disputebills.com"><img style="margin-left: -50px;" src="https://s29.postimg.org/72hl4uwon/logo.png" alt="Weaver">
                      </a>
                  </div>
              </div>
          </nav>
      </div>
      <div class="propuestaValor">
          <div class="container">
              <h1 class="pb">Crea relaciones significativas</h1>
              <h4 class="lineaTexto">Weaver te presenta nuevas personas al contestar <br> preguntas y quizzes de forma anónima.</h4>
              <button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo">DEMO</button>
              <button type="button" class="btn btn-default btn-round-lg btn-lg btn-download">COMENZAR A CONECTAR</button>
          </div>
      </div>
      <div class="container">
          <!--button type="button" class="btn btn-primary btn-round-lg btn-lg btn-demo">DEMO</button-->
          <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
      </div>
  </div>
  <div class="segundaSeccion">
    <h1 class="titulo">¿ Qué es <span class="customFont">weaver</span> ?</h1>
      <h4 class="subtitulo">Una plataforma que te permite conocer nuevas personas a través de preguntas anónimas. Te ayuda crear
          conexiones más sinceras antes de ver su perfil.</h4>
  </div>
  <div class="tercerSeccion">
    <div class="container">
        <h1 class="titulo">¿Cómo funciona?</h1>
    </div>
  </div>
  <div class="cuartaSeccion">
    <div class="container">
        <h1 class="titulo">¿Por qué <span class="customFont">weaver</span> ?</h1>
    </div>
    <div class="container centrado">
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 40px">
                <img src="https://s28.postimg.org/ocpy48h1p/icono1.png" alt="">
                <h3>Preguntas interesantes</h3>
                <h4 style="color: black">No gastes tiempo llenando interminables perfiles que en realidad no pueden expresar quien realmente eres.</h4>
                <h4>Nuestras preguntas y quizzes descubren lo mejor de ti, nos ayudan a saber lo que estás buscando.</h4>
            </div>
            <div class="col-md-4" style="margin-bottom: 40px">
                <img src="https://s27.postimg.org/pavf84qgz/icono2.png" alt="">
                <h3>Como una cita a ciegas</h3>
                <h4 style="color: black">Solo sé tú mismo, conecta de una manera auténtica y natural.</h4>
                <h4>Vive una verdadera experiencia de cita a ciegas. Comparte y ve más allá con alguien sin ningún prejuicio.</h4>
            </div>
            <div class="col-md-4" style="margin-bottom: 40px">
                <img src="https://s23.postimg.org/xd1950biz/icono3.png" alt="">
                <h3>No más swiping</h3>
                <h4 style="color: black">Deja de coleccionar “matches” y enfócate en personas que realmente les importa.</h4>
                <h4>Lo mejor de cada persona está en su interior, toma el tiempo de descubrirlo.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="https://s30.postimg.org/777aho69d/icono4.png" alt="">
                <h3>Cerca de ti</h3>
                <h4 style="color: black">Conoce gente a tu alrededor, esta vez sin ningún filtro.</h4>
                <h4>Nunca sabrás lo que encontrarás. Un excelente amigo o algo más. Te sorprenderás.</h4>
            </div>
            <div class="col-md-4">
                <img src="https://s29.postimg.org/cacx7o0qv/icono5.png" alt="">
                <h3>Llévalo al mundo real</h3>
                <h4 style="color: black">Disfruta de ofertas especiales en lugares cerca de ustedes para una primer cita.</h4>
                <h4>Es nuestra manera de celebrar que se conocieron.</h4>
            </div>
            <div class="col-md-4">
                <img src="https://s24.postimg.org/t71px265h/icono6.png" alt="">
                <h3>Evita atención innecesaria</h3>
                <h4 style="color: black">La interacción de Weaver evitará que conozcas gente que no busca una relación más honesta.</h4>
                <h4>Recuerda que lo bueno, toma tiempo.</h4>
            </div>
        </div>
    </div>
  </div>


</body>
</html>
