<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript">var _kmq = _kmq || [];
        var _kmk = _kmk || '5611d4ffcce70e9914da42dbcc8731733bf63cc5';
        function _kms(u){
            setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                    s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
            }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
    </script>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/auth0-lock/build/lock.min.js"></script>

    <link rel="stylesheet" href="stylesheets/flexslider.css" type="text/css">
</head>

<body>

<% include ../partials/nav.ejs %>
<div class="headerBGThanks">
    <div class="container">
        <div class="row text-center">
            <br><br><br><br>
            <div class="col-xs-12 col-md-7 col-centered">
                <img class="centerElem logoThanks" src="https://s28.postimg.org/7er93asb1/logo.png" alt="">
                <h1 class="text-center agraThanks">¡Gracias por tu interés <%= user.displayName %>!</h1>
                <h3 class="text-center contaThanks">Seguimos en etapa de desarrollo, en cuanto todo esté listo te lo haremos saber para que seas el primero en poder conocerlo.</h3>
                <h4 class="text-right pieThanks">-Equipo de Weaver.</h4>
                <br>
                <a href="/"><img class="centerElem backHome" src="https://s28.postimg.org/amlogevv1/back.png" alt=""></a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });
</script>

<script>
    $(document).ready(function() {

        var port = ''
        if (location.port.length === 4)
            port = ':'+location.port

        var lock = new Auth0Lock('4ceBlUH076OKGR4mANDbqyHKDAQOwdIu', 'rodrigoibarra.auth0.com', {
            auth: {
                redirectUrl: location.protocol+'//'+location.hostname+port+'/callback',
                responseType: 'code',
                params: {
                    scope: 'openid email'
                }
            }
        })

        $('.btn-login').click(function(e) {
            e.preventDefault()
            lock.show()
        })

    })
</script>

<script src="js/jquery.flexslider.js"></script>

</body>
</html>
